
.card{
    background-color: lightblue;
    border-radius: 25px;
    border: 5px solid black;
    transition: border-color 1.0s;
}

.container{
    border-color: black;
    border-radius: 25px;
    background-color: lightblue;
    justify-content: center;
    font-weight: bold;
    font-family: 'Courier New';
    text-align: center;
    margin: 30px;
    line-height: 0.25;

}

#name {
    color: black;
    transition: color 1.0s;
}


#name:hover {
    color: cornflowerblue;
}

.card:hover {
    border: 5px dashed cornflowerblue;
}



#tamid {
    color:white;
    font-size: 18px;
}

#main_body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: black;
    font-size: 13px;
}

#image{
    display: flex;
    justify-content: center;

}

#links {
    display: flex;
    justify-content: right;
    flex-direction:column;
    gap:10px;
}

#education {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
    font-weight: bold;
    font-size: 20px;
}

#edmem {
    color: black;
    transition: color 1.0s;
}


#edmem:hover {
    color: cornflowerblue;
}

#github {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}

#linkedin {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}

#mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}

a {
    font-size: 13px;
    color: black;
    transition: color 1.0s;
}

a:hover{
    color: cornflowerblue; 
}